@charset "UTF-8";

/* container */
.content-wrap-ff{
    margin: 0 auto;
    width: 1201px;
}

.content-wrap-ff .left{
	position: relative;
	float: left;
	width: 600px;
	border-right: 1px solid #808080;
}

.content-wrap-ff .right{
    position: relative;
    margin-left: 600px;
	width: 600px;
	border-left: 1px solid #808080;
}

.content-wrap-ff strong{
	color: #797979;
}

.left_content{
	width: 500px;
	margin-top: 50px;	
}

.right_content{
	width: 500px;
	margin-top: 50px;	
}

/*세부 설정*/
.title{
	font-size: 25px;
	position: relative;
	float: left;
	width: 588px;
	text-align: center;	
	padding-bottom: 20px;
    border-bottom: 2px solid #797979;
    margin-left: 5px;
}

.Rimg img{
	width: 100px;
	height: 100px;
}
.left_content .nick{
	font-size: 15px;
	font-weight: bold;
}
.recA{
color:#393939;
font-weight:bold;
text-decoration: none;
font-size: 17px;
}

.recA:hover{
font-style: italic;	
}

.memnick .memA{
color: #393939;
font-weight:bold;
text-decoration: none;
font-size: 17px;
}

.memnick .memA:hover{
font-style: italic;	
}

.left_content span{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-size: 17px;
    position: relative;
    display: block;
}

.right_content span{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-size: 17px;
    position: relative;
    display: block;
}

.memfollower, .Rnick {
	font-size: 15px;
}