@charset "UTF-8";

/* container */
.container  {min-height: 100%; margin-left: 160px;}
.content-wrap {
   position: relative;
   width: 1200px;
   height : 1300px;
   margin: 10px auto;
   background-color: white;
   opacity: 0.6;
}

.content-wrap .main{
	position: relative;
	float: left;
	width: 900px;
	height: 1300px;
	border-right: 1px solid #5e89da;
}

.content-wrap .right{
    position: fixed;
    margin-left: 900px;
	width: 290px;
	height: 1300px;
	
}