@charset "UTF-8";

/* 전체 스타일 설정 */
.header *, .footer * 
{
   font-family: 'Noto Sans KR', '맑은고딕', 'Malgun Gothic', 'MGothic',
      sans-serif, "돋움", Dotum, "굴림", Gulim
}
* {
   margin: 0;
   padding: 0;
}
html {
   height: 100%;
}
body {
   height: 100%;
   font-size: 75%;
   font-family: 'NanumGothic', '맑은고딕', 'Malgun Gothic', 'MGothic',
      sans-serif, "돋움", Dotum, "굴림", Gulim;
   
}
img {
   border: 0;
   vertical-align: top;
   font-size: 0;
}
form, fieldset {
   display: block;
   border: 0;
}
ul, ol, li {
   list-style: none;
}
ul, ol, li, a, table, td, th, p, dl, dd, dt, strong, span, div {
   font-size: 1em;
   line-height: 1.5;
   word-spacing: -1px;
}

p, acronym, address, big, small, cite, code, dfn, em, kbd, pre, samp,
   sub, sup, tt, var {
   font-weight: normal;
   font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
   font-size: 1em;
   letter-spacing: -1px;
   font-family: 'NanumGothic', '맑은고딕', 'Malgun Gothic', 'MGothic',
      sans-serif, "돋움", Dotum, "굴림", Gulim;
}
big {
   font-size: 1.125em;
} /* 14px */
small {
   font-size: 0.95em;
} /* 11px */
sub {
   font-size: 1.05em;
}
input, select {
   vertical-align: middle;
   font-size: 1em;
   color: #767676;
   font-family: 'NanumGothic', '맑은고딕', 'Malgun Gothic', 'MGothic',
      sans-serif, "돋움", Dotum, "굴림", Gulim;
}
/*input[type="password"] { color:#555;}*/
input::-ms-clear {
   display: none;
}
textarea {
   border: 1px solid #d9d9d9;
   font-size: 12px;
   font-family: 'NanumGothic', '맑은고딕', 'Malgun Gothic', 'MGothic',
      sans-serif, "돋움", Dotum, "굴림", Gulim;
   resize: none;
   box-sizing: border-box;
}
del {
   text-decoration: line-through;
}

hr {
   display: none;
}

iframe {
   border: 0;
}

/* 기본 링크 스타일 */
a:link {
   color: #767676;
   text-decoration: none;
}
a:visited {
   color: #767676;
   text-decoration: none;
}
a:hover, a:focus {
   color: #767676;
   text-decoration: none;
}
a:active {
   color: #767676;
   text-decoration: none;
}
a.hoverline:hover {
   text-decoration: underline
}

/* clear */
.clear {
   clear: both;
}

/*main board*/

.board{
	width: 750px;
    border: 1px solid black;
    margin: 30px auto;
}

.memInfo strong{
	padding-top: 15px;
    display: block;
    color: black;
    width: 250px;
    font-size: 15px;
}


/*right navigation*/

.userimg{
position: relative;
float: left;
width: 50px;
height: 50px;
margin-left: 5px;
margin-right: 5px;
}

.user .nick{
font-size: 17px;
font-weight: bold;
}

.user .id{
font-size: 13px;
}

.right strong {
float:left;
margin-top: 25px;
margin-left: 15px;
margin-bottom: 15px;
font-size: 15px;
width: 280px;
}

.topTag{
	margin-left: 30px;
}
.topTag .tagname{
	font-size:15px;
	width: 200px;

}
.topTag .taghit{
	font-size:11px;
}

.topMember{
	margin-left: 30px;
}
.topMember .memnick{
	font-size:15px;
	width: 200px;

}
.topMember .memfollower{
	font-size:11px;
}

#STATICMENU { 
margin: 0pt; 
padding: 0pt;  
position: absolute; 
right: 0px; 
top: 0px;
}


