@charset "UTF-8";

/* container */
.container  {min-height: 100%; margin-left: 160px;}
.content-wrap {
   position: relative;
   width: 1200px;
   height : 1300px;
   margin: 60px auto;
   background-color: white;
   opacity: 0.6;
}

.content-wrap .main{
	position: relative;
	float: left;
	width: 900px;
	height: 100%;
}

.content-wrap .right{
    position: relative;
    margin-left: 900px;
	width: 290px;
	height: 100%;
}

.right .user{
margin-top: 20px;
width:290px;
height: 60px;
}

.right .hashTag{
border-top:2px solid #606060;
width:290px;
min-height: 100px;
max-height: 200px;
overflow-y: scroll;
overflow-x: hidden;
}

.right .follower{
border-top:2px solid #606060;
width:290px;
min-height: 100px;
max-height: 200px;
overflow-y: scroll;
overflow-x: hidden;
}

.hashTag .tagA{
color: #0a62ff;
}

.hashTag .tagA:hover{
font-style: italic;	
}

.follower .memA{
color: black;
font-weight: bold;
}

.follower .memA:hover{
font-style: italic;	
}




