@charset "UTF-8";

/* 전체 스타일 설정 */
.header *, .footer * 
{
   font-family: 'Noto Sans KR', '맑은고딕', 'Malgun Gothic', 'MGothic',
      sans-serif, "돋움", Dotum, "굴림", Gulim
}
* {
   margin: 0;
   padding: 0;
}
html {
   height: 100%;
}
body {
   height: 100%;
   font-size: 75%;
   font-family: 'NanumGothic', '맑은고딕', 'Malgun Gothic', 'MGothic',
      sans-serif, "돋움", Dotum, "굴림", Gulim;
   background-color: #fafafa !important;
}
img {
   border: 0;
   vertical-align: top;
   font-size: 0;
}
form, fieldset {
   display: block;
   border: 0;
}
ul, ol, li {
   list-style: none;
}

p, acronym, address, big, small, cite, code, dfn, em, kbd, pre, samp,
   sub, sup, tt, var {
   font-weight: normal;
   font-style: normal;
}
big {
   font-size: 1.125em;
} /* 14px */
small {
   font-size: 0.95em;
} /* 11px */
sub {
   font-size: 1.05em;
}
input, select {
   vertical-align: middle;
   color: #767676;
   font-family: 'NanumGothic', '맑은고딕', 'Malgun Gothic', 'MGothic',
      sans-serif, "돋움", Dotum, "굴림", Gulim;
}
/*input[type="password"] { color:#555;}*/
input::-ms-clear {
   display: none;
}
textarea {
   border: 1px solid #d9d9d9;
   font-size: 12px;
   font-family: 'NanumGothic', '맑은고딕', 'Malgun Gothic', 'MGothic',
      sans-serif, "돋움", Dotum, "굴림", Gulim;
   resize: none;
   box-sizing: border-box;
}
del {
   text-decoration: line-through;
}

hr {
   display: none;
}

iframe {
   border: 0;
}

/* 기본 링크 스타일 */
a:link {
   color: #767676;
   text-decoration: none;
}
a:visited {
   color: #767676;
   text-decoration: none;
}
a:hover, a:focus {
   color: #767676;
   text-decoration: none;
}
a:active {
   color: #767676;
   text-decoration: none;
}
a.hoverline:hover {
   text-decoration: underline
}

#wrap{
	border-bottom: 1px solid #bfbfbf;
    height: 115px;
    background-color: white;
}
.container  {min-height: 100%; margin-left: 160px;}

.content-wrap {
   position: relative;
   width: 1200px;
   margin: 60px auto;
}

/* clear */
.clear {
   clear: both;
}