@charset "EUC-KR";

.mylist-container {
	width: 935px;
	padding: 0;
	margin: 0 auto;
}

.mylist-header {
	margin-bottom: 40px;
	height: 160px;
}

.mylist-header .mylist-header-pic {
	width: 40%;
	float: left;
	text-align: center;
}

.mylist-header .mylist-header-pic .my-pic {
	width: 152px;
	height: 152px;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.0975);
}

.mylist-header .mylist-header-info {
	width: 60%;
	float: left;
}

.mylist-header .mylist-header-info .username {
	font-size: 35px;
	font-weight: 200;
	display: inline-block;
	padding-right: 25px;
	margin-top: 10px;
}

.mylist-header .mylist-header-info .profile {
	width: 114px;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	color: #262626;
	padding: 3px 20px;
	font-weight: 600;
	vertical-align: text-bottom;
}

.mylist-header .mylist-header-info .profile:hover {
	text-decoration: none;
}

.mylist-header .mylist-header-info .info-list {
	height: 50px;
	padding: 18px 0;
	font-size: 15px;
	font-weight: 600;
}

.mylist-header .mylist-header-info .info-list li {
	padding-right: 35px;
	list-style: none;
	float: left;
}

.mylist-header .mylist-header-info .info-list li .info-list-title {
	font-weight: 400;
}

.mylist-header .mylist-header-info .about {
	font-size: 15px;
}

.mylist-header .mylist-header-info .about .nickname {
	font-weight: 600;
}

.mylist-content .pic {
	width: 33.333333%;
	height: 400px; padding : 13px;
	float: left;
	position: relative;
	overflow: hidden;
	padding: 13px;
}

.mylist-content .pic:hover {
	opacity: 0.7;
}

.mylist-content .pic-src {
	width: 100%;
}

.setLayer {
	padding-top: 100px;
}

.mask {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9999;
	background-color: #000;
	display: none;
}

.window {
	display: none;
	background-color: #ffffff;
	width: 1000px;
	height: 600px;
	z-index: 99999;
}

.window .pic {
	
	width: 65%;
	height: 100%;
	position: relative;
	display: block;
	float:left;
	overflow: hidden;
	
}


.window .info {
	
	width: 35%;
	height: 100%;
	position: relative;
	display: block;
	float:right;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
	
}

.pic .viewpic {
	width: 100%;
	height: 613px;
	float: left;
	position: relative;
	overflow: hidden;
}

.info .profile{
	
	border-bottom: 1px solid #efefef;
    height: 78px;
    margin-right: 0;
    padding: 20px 0;
    position: absolute;
    right: 24px;
    top: 0;
    width: 287px;
}

.info .profile .profileimg{
	
	float:left;
	height: 50px;
	width: 50px;
}

.info .contents{

    border-radius: 6px;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    background-color: white;
    border-color: #E8EBED;
    border-style: solid;
    border-width: 1px;
	
}

.dropdown{
	
	float:right;
}


