@charset "UTF-8";

/* container */
.container  {min-height: 100%; margin: 0 auto; width: 1400px;}
.content-op {
   position: relative;
   width: 1400px;
   height : 1400px;
   margin-top: 10px;
   background-color: white;
   opacity: 0.6;
}